view,swiper,swiper-item{
	box-sizing: border-box;
}

// 页面的背景
.pageBg{
	// 线性渐变 下到上 左到右
	background: 
	linear-gradient(to bottom,transparent,#fff 400rpx),
	linear-gradient(to right,rgb(247, 242, 223),20%,rgb(222, 243, 234));
	min-height: 80vh;
}